<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if current_page? project_path(params[:id]) %>">
            <%= link_to 'Projects', :projects %>
          <li class="<%= 'active' if current_page? project_path(params[:id]) %>">
            <%= link_to 'Sign Up', :users %>
          </li>
          <% if current_user %>
            <li class="button"><%= link_to "Logout #{current_user.first_name}", session_path(current_user), method: :delete %></li>
            <li class="button"><%= link_to "Profile", user_path(params[:id]) %>
          <% else %>
            <li class="button"><%= link_to "Login", new_session_path %></li>
            <li class="button"><%= link_to "Signup", new_user_path %></li>
            <% end %> 
        </ul>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
